@page "/"
@rendermode InteractiveServer

<PageTitle>Accueil</PageTitle>

<h3>Uvex contrôles</h3>

<UvexInfos/>
<Temperature @ref="TemperatureChildComponent" />
<Calibration/>
<FocusControl @ref="FocusControlChildComponent" />