@page "/"
@rendermode InteractiveServer

<PageTitle>Contrôles UVEX</PageTitle>

<h3>Contrôles UVEX</h3>
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />
<UvexInfos/>
<Temperature @ref="TemperatureChildComponent" />
<CalibrationControl @ref="CalibrationControlChildComponent"/>
<GratingAngleControl @ref="GratingAngleControlChildComponent" />
<GratingWaveLengthControl @ref="GratingWaveLengthControlChildComponent"/>
<FocusControl @ref="FocusControlChildComponent" />