@page "/Configuration"
@rendermode InteractiveServer
@inject IStringLocalizer<LocalizationResources> Loc;

<PageTitle>@Loc["Configuration_Title"]</PageTitle>
<h3>@Loc["Configuration_Title"]</h3>

<ComPortConfiguration/>
<SwaggerConfiguration/>
<ServerShutdownComponent/>