@page "/Configuration"
@rendermode InteractiveServer
@inject IStringLocalizer<LocalizationResources> Loc;

<PageTitle>@Loc["Configuration_Title"]</PageTitle>
<h1>@Loc["Configuration_Title"]</h1>

<ComPortConfiguration/>
<GratingDensityConfiguration/>
<SwaggerConfiguration/>
<ServerShutdownComponent/>