@page "/help"
@inject IStringLocalizer<LocalizationResources> Loc;

<PageTitle>@Loc["Help_Title"]</PageTitle>
<h1>@Loc["Help_Title"]</h1>
@((MarkupString)_content)

@code {

    private string _content = string.Empty;
    protected override void OnInitialized()
    {
        _content = Loc["Help_Content"];
    }
} 