@inject NavigationManager Navigation
@using System.Globalization

@rendermode InteractiveServer
<div class="container-fluid">
    <select class="form-select culture-selector" @bind:get="Culture" @bind:set="OnCultureChanged">
        @foreach (var culture in SupportedCultures)
        {
        <option value="@culture">@culture.DisplayName</option>
        }
    </select>
</div>

@code
{
    private CultureInfo[] SupportedCultures { get; set; } = null!;
    private CultureInfo Culture { get; set; } = null!;
    
    protected override void OnInitialized()
    {
        SupportedCultures = Cultures.SupportedCultures;
        Culture = CultureInfo.CurrentCulture;
    }
    
    private void OnCultureChanged(CultureInfo? selectedCulture)
    {
        if (selectedCulture != null && !Equals(CultureInfo.CurrentCulture, selectedCulture))
        {
            var uri = new Uri(Navigation.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
            var cultureEscaped = Uri.EscapeDataString(selectedCulture.Name);
            var uriEscaped = Uri.EscapeDataString(uri);
    
            Navigation.NavigateTo($"culture/{cultureEscaped}?redirectUri={uriEscaped}", forceLoad: true);
        }
    }
}