@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>
<h1 class="text-danger">Error</h1>
<p><strong>An error occurred while processing your request.</strong></p>
<p>If the problem happens again, you may find more information in the logs files.</p>
<p>You will find the log in directory : @LogFolder</p>
@if (ShowRequestId)
{
    <p><strong>Request ID:</strong> <code>@RequestId</code></p>
    <p>The request ID may be useful to find related errors in logs</p>
}

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    private string LogFolder => Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData), "Shelyak", "Uvex", "Logs");
    
    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
